{% extends 'base.html' %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar menu-lateral">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link " href="/produto">Adicionar Produto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/produto/busca">Buscar Produto</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3 main-fundo">
    <section class="row text-center placeholders">
        <div class="jumbotron busca">
            <div class="container">
                <h1>Busca Cliente</h1>
                <form method="get">
                    <div class="form-row">
                        <div class="form-group col-md-10">
                            <label for="inputName">Nome<strong>*</strong></label>
                            <input type="text" class="form-control" id="inputEmail4" placeholder="Nome do Produto" name="name" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-10">
                            <button type="submit" class="btn btn-primary float-right">Buscar</button>
                        </div>
                    </div>
                </form>
            </div>
            <form method="post">
                {% csrf_token %}
                {% if produtos %}
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Valor Venda</th>
                                <th>Quantidade</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for produto in produtos %}
                            <tr>
                                <td>{{produto.nome}}</td>
                                <td>R$ {{produto.valor_venda}}</td>
                                <td>{{produto.quantidade}}</td>
                                <td><button class="btn btn-default" value={{produto.id}} name="id" type="submit">Editar</button></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            </form>
        </div>
    </section>
</main>
        {% endblock %}