{% extends 'base.html' %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar menu-lateral">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
         </nav>
        </div>
    </div>
<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3 main-fundo">
    <section class="row text-center placeholders">
        <div class="jumbotron busca">
            <div class="container">
                {% if msg %}
                    <h2>{{msg}}</h2>
                {% else %}
                    <h3>Ola, Temos {{n_ordem}} em aberto.</h3>
                    <hr />
                    <h4>- {{n_contas}} <a href="/contas/pagar">Contas</a> a pagar hoje;</h4>
                    <hr />
                    <h4>- {{n_produto}} <a>Produtos</a> em estoque minimo;</h4>
                {% endif %}
            </div>
        </div>
    </section>
</main>
        {% endblock %}