{% extends 'base.html' %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar menu-lateral">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="/contas">Adicionar Conta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contas/busca">Buscar Conta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contas/pagar">Pagar Conta</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3 main-fundo">
    <section class="row text-center placeholders">
        <div class="jumbotron busca">
            <h1>Adicionar Conta</h1>
            <form method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputName">Conta <strong>*</strong></label>
                        <input type="text" class="form-control" id="inputEmail4" placeholder="Descricao da conta" name="name" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputTel">Data pagamento:</label>
                        <input type="date" class="form-control" id="inputdate"  name="date">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputTel">Valor</label>
                        <input type="number" class="form-control" step="0.01" id="inputvalor" placeholder="R$00,00" name="valor">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputTel">Descricao</label>
                        <input type="text" class="form-control" id="inputvalor" placeholder="Descicao" name="desc">
                    </div>
                </div>
                <br />
                <button type="submit" class="btn btn-primary float-right">Salvar</button>
            </form>
        </div>
    </section>
</main>
        {% endblock %}
