{% extends 'base.html' %}
{% block body %}
{% load staticfiles %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar menu-lateral">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="/ordem">Adicionar Ordem de Servico</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ordem/busca">Buscar Ordem de Servico</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/ordem/fechar">Fechar Ordem de Servico</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3 main-fundo">
    <section class="row text-center placeholders">
        <div class="jumbotron busca">
            <h1>Editar Ordem</h1>
            <form method="post" action="/ordem/editar">
                {% csrf_token %}
                <input type="hidden" name="ordem_id" value="{{ordem_obj.id}}">
                <div class="form-row">
                    <div class="form-group col-md-10">
                        <label for="inputName">Cliente<strong>*</strong></label>
                        <input disabled type="text" class="form-control" id="inputName" value="{{ordem_obj.cliente_ordem}}" name="cliente_ordem">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <!-- Trigger the modal with a button -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Servico</button>
                    </div>
                    <div class="form-group col-md-4">
                        <!-- Trigger the modal with a button -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal1">Produto</button>
                    </div>
                </div>
                <div class="row">
                    {% if servicos1 %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th><h3>Servicos</h3></th>
                            </tr>
                            <tr>
                                <th>ID</th>
                                <th>Servico</th>
                                <th>Valor Un.</th>
                                <th>Quantidade</th>
                                <th>Valor Total</th>
                                <th>Editar</th>
                            </tr>
                        </thead>
                        <tbody>
                                {% for serv_item in servicos1 %}
                            <tr>
                                <td>{{serv_item.id}}</td>
                                <td>{{serv_item.serv_item}}</td>
                                <td>R$ {{serv_item.serv_item.valor}}</td>
                                <td>{{serv_item.quantidade}}</td>
                                <td>R$ {{serv_item.total}}</td>
                                <td><button class="btn btn-default" value="" name="id" type="submit">Editar</button></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                    {% if produtos1 %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th><h3>Produtos</h3></th>
                            </tr>
                            <tr>
                                <th>ID</th>
                                <th>Produto</th>
                                <th>Valor Un.</th>
                                <th>Quantidade</th>
                                <th>Valor Total</th>
                                <th>Editar</th>
                            </tr>
                        </thead>
                        <tbody>
                                {% for prod_item in produtos1 %}
                            <tr>
                                <td>{{prod_item.id}}</td>
                                <td>{{prod_item.prod_item}}</td>
                                <td>{{prod_item.prod_item.valor_venda}}</td>
                                <td>{{prod_item.quantidade}}</td>
                                <td>{{prod_item.total}}</td>
                                <td><button class="btn btn-default" value="" name="id" type="submit">Editar</button></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                    <div class="col-md-4 offset-md-8">
                        <h1>Total R$ {{ordem_obj.total}}</h1>
                    </div>
                    <br />
                    <div class="col-md-4 offset-md-10">
                        <button type="submit" formaction="/home" class="btn btn-primary">Finalizar</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">              
              <h4 class="modal-title">Adicionar Servico</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form method="POST" action="/ordem/add_serv">
                    {%csrf_token%}
                    <input type="hidden" name="ordem_id" value="{{ordem_obj.id}}">
                    <input type="hidden" name="cliente_id" value="{{ordem_obj.cliente_ordem.id}}">
                    <div class="form-group col-md-12">
                            <label for="inputServico">Servicos</label>
                            <select name="servico_id" class="form-control" required>
                                <option disabled selected > -- Servicos -- </option>
                                {% for servico in servicos %}
                                <option value={{servico.id}}>{{servico.nome}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputServico">Qnt</label>
                            <input type="number" class="form-control" id="inputQnt" value="1" name="qnt_servico" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail">Funcionario</label>
                            <select name="funcionario_id" class="form-control" required>
                                <option disabled selected > -- Funcionario -- </option>
                                    {% for funcionario in funcionarios %}
                                    <option value={{funcionario.id}}>{{funcionario.nome}}</option>
                                    {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary float-right">Adicionar</button>
                    </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
          </div>

        </div>
      </div>
      <!-- Modal1 -->
    <div id="myModal1" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Adicionar Produto</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                    <form method="POST" action="/ordem/add_prod">
                        {%csrf_token%}
                        <input type="hidden" name="ordem_id" value="{{ordem_obj.id}}">
                        <input type="hidden" name="cliente_id" value="{{ordem_obj.cliente_ordem.id}}">
                        <div class="form-group col-md-12">
                                <label for="inputEmail">Produtos</label>
                                <select name="produto_id" class="form-control" required>
                                    <option disabled selected > -- Produtos -- </option>
                                    {% for produto in produtos %}
                                    <option value={{produto.id}}>{{produto}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="inputServico">Qnt</label>
                                <input type="number" class="form-control" id="inputQnt" value="1" name="qnt_produto" required>
                            </div>
                            <button type="submit" class="btn btn-primary float-right">Adicionar</button>
                        </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
          </div>

        </div>
      </div>
{% endblock %}