{% extends 'base.html' %}
{% block body %}
{% load staticfiles %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar menu-lateral">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link " href="/ordem">Adicionar Ordem de Servico</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/ordem/busca">Buscar Ordem de Servico</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/ordem/fechar">Fechar Ordem de Servico</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Imprimir Ordem de Servico</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3 main-fundo">
    <section class="row text-center placeholders">
        <div class="jumbotron busca">
            <h1>Imprimir Ordem</h1>
            <form method="GET" action="/ordem/imprimir">
                <input type="hidden" name="ordem_id" value="{{ordem_id}}" />
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputName">Nome Completo <strong>*</strong></label>
                        <input type="text" class="form-control" id="inputEmail4" placeholder="Nome Completo" name="nome_orc" required><br>
                        <button type="submit" class="btn btn-primary float-right">Imprimir</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>
{% endblock %}