{% extends 'base.html' %}
{% block body %}
{% load staticfiles %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar menu-lateral">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link " href="/ordem">Adicionar Ordem de Servico</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/ordem/busca">Buscar Ordem de Servico</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/ordem/fechar">Fechar Ordem de Servico</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3 main-fundo">
    <section class="row text-center placeholders">
        <div class="jumbotron busca">
            <h1>Buscar Ordem</h1>
            <form method="post" action="/ordem/buscar">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-10">
                        <label for="inputName">Cliente<strong>*</strong></label>
                        <select autofocus name="cliente_id" class="form-control">
                            <option disabled selected> -- Clientes -- </option>
                            {% for cliente in clientes %}
                            <option value={{cliente.id}}>{{cliente.nome}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-10 ">
                        <div class="float-right">
                            <button type="submit" formaction="/ordem/total_ordem" class="btn btn-primary">Total</button>
                            <button type="submit" class="btn btn-primary">Buscar</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row">
                <h3>Em Aberto</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Cliente</th>
                            <th>N. Ordens</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{cliente_ord.id}}</td>
                            <td>{{cliente_ord.nome}}</td>
                            <td>{{num_ordens}}</td>
                            <td>R$ {{tot_ordem}}</td>
                        </tr>
                    </tbody>
                </table>
                <h3>Fechadas</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Cliente</th>
                            <th>N. Ordens</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{cliente_ord.id}}</td>
                            <td>{{cliente_ord.nome}}</td>
                            <td>{{num_ordens_1}}</td>
                            <td>R$ {{tot_ordem_1}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>
{% endblock %}